.storePage {
}

.header {
  > * {
    margin: 0;
  }
}

.actions {
  display: flex;
  gap: 1em;
}

.sortContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 4rem;
}

.actions select {
  padding: 0.4em 0em;
  border-radius: 5px;
  text-align: center;
  background-color: #fbfafa;
  color: rgb(59, 59, 59);
  font-weight: bold;
  border: 1px solid #2a2a2a84;
  margin-left: 0.5em;
}

.store {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  padding: 0em 4rem;
  margin-bottom: 4rem;
  justify-items: center;

  li {
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .store {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .store {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .sortContainer {
    padding: 2em;
  }
  .store {
    grid-template-columns: repeat(1, 1fr);
  }
}
