.basket {
  position: fixed;
  right: 0;
  width: 400px;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10000;
  background-color: rgb(240, 240, 240);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

.open ~ .overlay {
  display: block;
}
